.side {
    position: fixed;
    right:-270px;
    width:250px;
    height:100%;
    padding: 0px 10px;
    background-color:red;
    transition: all .5s ease;
    text-align: left;
}

#check {
    display: none;
}

#icone>img {
    width: 40px;
    margin-left: 20px;
}

label #cart {
    position: absolute;
    cursor: pointer;
    border-radius: 3px;
}

label #cart {
    z-index: 1111;
    right: 20px;
    bottom: 70px;
    font-size: 30px;
    padding: 4px 9px;
    transition: all .5s;
}


#check:checked~.side {
    right: 0;
}

/* #check:checked~label #Cart-Invisible {
    right: 0;
} */

#checked:checked~.App {
    margin-left: 250px;
}